<div class="app-container">
  <p-toast></p-toast>

  <!-- Splash Screen while AuthService is not ready -->
  @if (!isAuthServiceReady()) {
  <app-splash-screen></app-splash-screen>
  }

  <!-- Main Content only when AuthService is completely ready -->
  @if (isAuthServiceReady()) { @defer (when isAuthServiceReady()) {
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
  } @placeholder {
  <app-splash-screen></app-splash-screen>
  } @loading {
  <app-splash-screen></app-splash-screen>
  } }
</div>
