<div class="bairros-selection">
  <div class="bairros-selection__header">
    <h1 class="bairros-selection__title">Escolha seu Bairro</h1>
    <p class="bairros-selection__subtitle">
      Selecione o bairro onde você mora para participar dos rankings locais
    </p>
  </div>

  <div class="bairros-selection__search">
    <app-input
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchChange()"
      placeholder="Buscar bairro..."
      [icon]="'pi pi-search'"
      [clearable]="true">
    </app-input>
  </div>

  <div class="bairros-selection__content" *ngIf="!loading; else loadingTemplate">
    <div class="bairros-selection__list" *ngIf="filteredBairros.length > 0; else noBairrosTemplate">
      <div
        class="bairros-selection__item"
        [class.bairros-selection__item--selected]="selectedBairro?._id === bairro._id"
        *ngFor="let bairro of filteredBairros; trackBy: trackByBairroId"
        (click)="selectBairro(bairro)">

        <div class="bairros-selection__item-content">
          <h3 class="bairros-selection__item-name">{{ bairro.nome }}</h3>
          <p class="bairros-selection__item-location">
            {{ bairro.cidade }}, {{ bairro.estado }}
          </p>
          <div class="bairros-selection__item-stats">
            <span class="bairros-selection__stat">
              <i class="pi pi-users"></i>
              {{ bairro.estatisticas.total_usuarios }} usuários
            </span>
            <span class="bairros-selection__stat">
              <i class="pi pi-trophy"></i>
              #{{ bairro.estatisticas.ranking_posicao }}
            </span>
          </div>
        </div>

        <div class="bairros-selection__item-check" *ngIf="selectedBairro?._id === bairro._id">
          <i class="pi pi-check"></i>
        </div>
      </div>
    </div>

    <ng-template #noBairrosTemplate>
      <div class="bairros-selection__empty">
        <i class="pi pi-search"></i>
        <h3>Nenhum bairro encontrado</h3>
        <p>Tente usar outros termos de busca</p>
      </div>
    </ng-template>
  </div>

  <ng-template #loadingTemplate>
    <div class="bairros-selection__loading">
      <p-progressSpinner strokeWidth="4" [style]="{ width: '50px', height: '50px' }"></p-progressSpinner>
      <p>Carregando bairros...</p>
    </div>
  </ng-template>

  <div class="bairros-selection__actions">
    <app-button
      label="Pular"
      [outlined]="true"
      (click)="onSkip()"
      [disabled]="submitting">
    </app-button>

    <app-button
      label="Confirmar"
      [disabled]="!selectedBairro || submitting"
      [loading]="submitting"
      (click)="onConfirm()">
    </app-button>
  </div>
</div>
